@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --marine-blue:hsl(213, 96%, 18%);
    --purplish-blue:hsl(243, 100%, 62%);
    --pastel-blue:hsl(228, 100%, 84%);
    --light-blue:hsl(206, 94%, 87%);
    --strawberry-red:hsl(354, 84%, 57%);
    --cool-gray:hsl(231, 11%, 63%);
    --light-gray:hsl(229, 24%, 87%);
    --magnolia:hsl(217, 100%, 97%);
    --albaster:hsl(231, 100%, 99%);
    --white:hsl(0, 0%, 100%);
}
body{
    padding: 5rem 12rem;
    background-color: var(--magnolia);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.main-container{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    padding-right: 7rem;
    display: flex;
    gap: 7rem;
}
.circle{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border:1px solid var(--albaster);
    text-align: center;
    align-content: center;
    color: var(--white);
}
.circle-4{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    border:1px solid var(--albaster);
    background-color: var(--light-blue);
    color: var(--marine-blue);
}
.sidebar-info{
    margin-top: -33rem;
    margin-bottom: 18rem;
    margin-left: 2rem;
}
.step{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    color: var(--white);
    font-weight: 500;
}
.step-texts p{
    text-transform: uppercase;
}
.t1{
    font-size: small;
    color: var(--light-gray);
    font-weight: 400;
}
.closing{
    justify-content: center;
    text-align: center;
    margin: auto 0;
}
.closing h1{
    color: var(--marine-blue);
    font-size: xx-large;
    font-weight: 700;
    margin: 1rem 0;
}
.closing p{
    color: var(--cool-gray);
    font-size: medium;
    font-weight: 500;
    line-height: 25px;
}